<form [formGroup]="teamForm" (ngSubmit)="createTeam()">
  <table>
    <tr>
      <td>Team Name:</td>
      <td>
        <input type="text" formControlName="teamName" />
        <span *ngIf="teamForm.get('teamName').invalid">Team Name is Required</span>
      </td>
    </tr>
    <tr>
      <td>Player Name:</td>
      <td>
        <div formArrayName="players">
          <button type="button" (click)="addNewPlayer()">Add New Player</button>
          <div *ngFor="let player of teamForm.get('players').controls;let i=index">
            <input type=text [formControlName]="i" />       
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><input type=submit value="Create Team" /></td>
    </tr>
  </table> 
</form>

